.expandableButton {
  width: 32px;
  height: 32px;
  transform: rotate(0);
  transition: transform 250ms, border 0.6s ease, opacity 0.6s ease;
  border: 1px solid rgba(255,255,255,.7);
  border-radius: 50%;
  color: rgba(255,255,255,.6);
  background: rgba(255,255,255,0);
  position: absolute;
  right: 10px;
  top: 30px;
  margin: -16px 0 0 -16px;
  outline: none;
  cursor: pointer;
}

.expandableButton:hover {
  border: 1px solid rgba(255,255,255,1);
}

.expandableButton.open {
  transform: rotate(45deg);
}

.expandableButton svg {
  fill: rgba(255,255,255,.7);
  stroke: 2px;
  display: inline-block;
  line-height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  transition: all .6s ease;
}

.expandableButton:hover svg {
  fill: rgba(255,255,255,1);
}