.galleryPreview {
  display: grid;
  grid-gap: 20px;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-template-columns: repeat(3, .5fr);
}

.galleryPreview h1 {
  display: grid;
  grid-column: 1 / -1;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 3em;
  opacity: 0;
  transition: all 600ms ease;
}

.galleryPreviewContainer {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 50px 1fr;
  transition: all 600ms ease;
}

.galleryPreviewImages {
  display: grid;
  grid-gap: 20px;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-template-columns: repeat(3, 1fr);
  grid-row-start: 2;
  min-height: 100vh;
  overflow-y: scroll;
  transition: all 1s ease;
}