.movieTile:hover {
  -webkit-filter: grayscale(1) brightness(.3);
}

.movieTile.thumbnail:hover {
  transform: scale(1.05);
}

.movieTile.fullsize:hover {
  -webkit-filter: grayscale(0) brightness(1);
  transform: scale(1);
}

.collapsed .movieTile.thumbnail:hover {
  -webkit-filter: grayscale(0) brightness(1);
  transform: scale(1);
}

.movieTile {
  width: 100%;
  display: block;
  position: relative;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -webkit-filter: grayscale(0) brightness(1);
}